{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Whaler</title>
</head>

<body class="bg-dark">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col title">
                <h1 class="text-center text-uppercase">Whaler</h1>
                <h4 class="text-center">сервис антифишинга</h4>
            </div>
        </div>
        <div class="row d-flex justify-content-center p-5 pt-0">
            <div class="col-10">
                <div class="bg-blur rounded p-3">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-10">
                                <input type="text" name="address" class="form-control form-control-lg"
                                    placeholder="google.com">
                            </div>
                            <div class="col-2 d-grid">
                                <button type="submit" class="btn btn-secondary fs-6">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if result %}
        <div class="row d-flex justify-content-center px-5 pb-5">
            <div class="col">
                <div class="bg-blur rounded p-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Проверка</th>
                                <th scope="col">Результат</th>
                                <th scope="col">Оценка</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for check in result.checks %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ check.name }}</td>
                                <td>
                                    {% if check.result.phishing == 0 %}
                                    <span class="badge bg-success">{{ check.result.comment }}</span>
                                    {% elif check.result.phishing == 1%}
                                    <span class="badge bg-warning">{{ check.result.comment }}</span>
                                    {% elif check.result.phishing == 2%}
                                    <span class="badge bg-danger">{{ check.result.comment }}</span>
                                    {% endif %}
                                </td>
                                <td class="font-monospace">{{ check.result.score }}%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <h4 class="text-end my-5">Итоговая оценка: <span
                            class="font-monospace">{{ result.overall }}%</span></h4>
                    <div class="row d-flex justify-content-center">
                        <div class="col-4 d-grid mt-5">
                            <button class="btn btn-dark">Отметить как фишинг</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>