{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Whaler</title>
</head>

<body class="bg-dark">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col title">
                <h1 class="ff-post text-center text-uppercase">Whaler</h1>
                <h4 class="text-center">сервис антифишинга</h4>
            </div>
        </div>
        <div class="row d-flex justify-content-center p-5 pt-0">
            <div class="col-10">
                <div class="bg-blur rounded-3 p-3">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-10">
                                <input type="text" name="address" class="form-control form-control-lg"
                                    placeholder="google.com" {% if address %}value="{{ address }}" {% endif %}>
                            </div>
                            <div class="col-2 d-grid">
                                <button type="submit" class="btn btn-secondary fs-6">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if result %}
        <div class="row d-flex justify-content-center px-3">
            {% for check in result.checks %}
            <div class="col-4 my-3">
                <div class="card h-100 bg-blur rounded-3 p-3">
                    <div class="card-body">
                        <h4 class="text-center card-title">{{ check.name }}</h4>
                    </div>
                    <div class="card-footer">
                        {% if check.result.phishing == 0 %}
                        <p class="badge bg-success fs-5">{{ check.result.comment }}</p>
                        {% elif check.result.phishing == 1%}
                        <p class="badge bg-warning fs-5">{{ check.result.comment }}</span>
                            {% elif check.result.phishing == 2%}
                            <p class="badge bg-danger fs-5">{{ check.result.comment }}</p>
                            {% endif %}
                            <hr>
                            <p class="text-end fs-5">Оценка угрозы <span
                                    class="font-monospace">{{ check.result.score }}%</span></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row d-flex justify-content-center p-5">
            <div class="col-10">
                <div class="p-3 bg-blur">
                    <h4 class="text-center">
                        Итоговая оценка: <span class="font-monospace">{{ result.overall }}%</span> &#8213; Сайт безопасен
                    </h4>
                    <p>Считаете этот сайт опасным? <a class="href-black" href="#">Пометить как фишинг</a></p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <footer class="bg-dark p-3">
        <h6 class="text-center">&copy; 0b10m &#8213 {% now "Y" %}</h6>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>